

* {
    box-sizing: border-box;
}

/*container div of pizza button*/
.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    padding:10px;
}

.buy-button {
    display: inline-block;
}
.ad {
    position: absolute;
  top: 1%;
  left: 1%;
  width: 13%;
  height: 75%;
  border: 5px solid gray;

}
  

#pizza-button {
    background-image: url('./pictures/pizza.jpg'); 
    background-size: cover;
    width: 200px;
    height: 200px;
    transition: .1s ease-in-out 0s;
}
#pizza-button:hover {
    transform: scale(1.05);
    cursor:pointer;
}


/*text under pizza button*/
#pizza-button-text {
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 140, 69);
}
.pizza-plus-counter {
    color: green;
}

.container{
    border: 2px solid black;
    padding-bottom: 15px;
}

  
  